/* You can add global styles to this file, and also import other style files */

// Normalize.css
@import "~normalize.css/normalize.css";

// Material Icons
@import "~material-design-icons/iconfont/material-icons.css";

// Global Styles
.button {
  display: block;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: lightgrey;
  cursor: pointer;
  padding: 5px 5px 3px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  &:hover {
    background-color: darken(lightgrey, 10%);
  }
}
